body {
    background-color: #000;
    font-family: 'Krona One', sans-serif;
    color: #f6f6f6;
    display: flexbox;

}

strong {
    color: #22D4FD;
}

a {
    font-family: 'Montserrat', sans-serif;
    background-color: #22D4FD;
    border-radius: 16px;
    padding: 16px;
    text-decoration: none;
    color: #000;
    text-align: center;
    width: 50px;
    font-weight: bold;
}

img {
    text-align: right;
}

.container {
    display: flex;
    width: 70vw;
    margin: auto;
    padding: 100px
}

p {
    padding-bottom: 20px;
}
